<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Allure Report</title>
    <link rel="favicon" href="/static/favicon.ico?v=2">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link rel="stylesheet" href="/static/plugins/screen-diff/styles.css">
</head>
<body>
<div id="alert"></div>
<div id="content">
    <span class="spinner">
        <span class="spinner__circle"></span>
    </span>
</div>
<div id="popup"></div>
<script src="/static/app.js"></script>
    <script src="/static/plugins/behaviors/index.js"></script>
    <script src="/static/plugins/packages/index.js"></script>
    <script src="/static/plugins/screen-diff/index.js"></script>
</body>
</html>
