<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>测试平台</title>
</head>
<body>
    <img style="height: 100px;width: 200px" src="https://testapply.qintelligence.cn/assets/logo.fd93ddc7.svg">
    <h1 style="color: red">
        <a href="/user/list">
            用户列表
        </a>
    </h1>
    <h1 style="color: #51a7e8">
        <a href="/login/input">
            登录
        </a>
    </h1>
    <h1 style="color: red">
        <a href="http://www.chinaunicom.com/" target="_blank">
            中国联通
        </a>
    </h1>
    <div>
        <span>时间：</span>
        <span style="color: chartreuse">2022-11-01</span>
    </div>
    <div>
        中国联合网络通信集团有限公司（简称“中国联通”）于2009年1月6日由原中国网通和原中国联通合并重组而成，公司在国内31个省（自治区、直辖市）和境外多个国家和地区设有分支机构，以及130多个境外业务接入点，拥有覆盖全国、通达世界的现代通信网络和全球客户服务体系，主要经营固定通信业务，移动通信业务，国内、国际通信设施服务业务，数据通信业务，网络接入业务，各类电信增值业务，与通信信息业务相关的系统集成业务等。目前，用户规模达到4.6亿。
    </div>
    <h3>
        <a href="http://www.baidu.com" target="_blank">
            百度
        </a>
    </h3>
    <h3>
        <a href="/goods/list">
            商品
        </a>
    </h3>
    <h3>运营商列表</h3>
        <ul>
            <li>中国移动</li>
            <li>中国联通</li>
            <li>中国电信</li>
        </ul>
    <h3>运营商列表</h3>
        <ol>
            <li>中国移动</li>
            <li>中国联通</li>
            <li>中国电信</li>
        </ol>
    <img style="width: 50%" src="/static/img/4148jpg_wh300.jpg">
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>张三</td>
                <td>10</td>
            </tr>
            <tr>
                <td>2</td>
                <td>李四</td>
                <td>19</td>
            </tr>
            <tr>
                <td>3</td>
                <td>王五</td>
                <td>15</td>
            </tr>
        </tbody>
    </table>
</body>
</html>