<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <a href="/index">
        <img style="height: 100px;width: 200px" src="https://testapply.qintelligence.cn/assets/logo.fd93ddc7.svg">
    </a>
    <h1 style="color: #51a7e8">登录</h1>
    <h4>
        账号：<input type="text">
    </h4>
    <h4>
        密码：<input type="password">
    </h4>

    <a href="/register">
        <input type="button" value="注册" style="color: #bd2c00">
    </a>
    <a href="/index">
        <input type="button" value="登录" style="color: #55a532">
    </a>

</body>
</html>