<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <a href="/index">
        <img style="height: 100px;width: 200px" src="https://testapply.qintelligence.cn/assets/logo.fd93ddc7.svg">
    </a>
    <h1 style="color: #51a7e8">登录</h1>
    <form method="post" action="/login">
        <h4>
            账号：<input type="text" name="username" placeholder="请输入账号/手机号">
        </h4>
        <h4>
            密码：<input type="password" name="pw" placeholder="请输入密码">
        </h4>
        <a href="/index">
            <input type="submit" value="登录" style="color: #55a532">
        </a>
    </form>
    <a href="/register" methods="GET">
        <input type="submit" value="注册" style="color: #bd2c00">
    </a>
</body>
</html>