<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
    <a href="/index">
        <img style="height: 100px;width: 200px" src="https://testapply.qintelligence.cn/assets/logo.fd93ddc7.svg">
    </a>
    <h1 class="red">注册</h1>
    <form method="post" action="/register">
        <h4>
            头像：
            <input type="file" name="photo">
        </h4>
        <h4>
            账号：<input type="text" name="user">
        </h4>
        <h4>
            密码：<input type="password" name="pw">
        </h4>
        <h4>
            性别：
            <span>
                <input type="radio" name="gender" value="1">男
            </span>
            <span>
                <input type="radio" name="gender" value="2">女
            </span>
        </h4>
        <h4>
            爱好：
            <input type="checkbox" name="hobby" value="lq">篮球
            <input type="checkbox" name="hobby" value="ppq">乒乓球
            <input type="checkbox" name="hobby" value="zq">足球
            <input type="checkbox" name="hobby" value="pq">排球
        </h4>
        <h4>
            城市：
            <select name="city">
                <option value="bj">北京</option>
                <option value="sh">上海</option>
                <option value="sz">深圳</option>
                <option value="gz">广州</option>
            </select>
        </h4>

        <h4>
            签名：
            <textarea rows="5" name="sign"></textarea>
        </h4>
    <!--    <a href="/login/input">-->
    <!--        <input type="button" value="button提交">-->
    <!--    </a>-->
        <a>
            <input type="submit" value="submit提交">
        </a>
    </form>
</body>
</html>