<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
    <a href="/index">
        <img style="height: 100px;width: 200px" src="https://testapply.qintelligence.cn/assets/logo.fd93ddc7.svg">
    </a>
    <h1 style="color: #df5000">
      用户列表
    </h1>
    <table border="1">
      <thead>
        <tr>
            <th>选择</th>
          <th>序号</th>
          <th>姓名</th>
          <th>头像</th>
          <th>详细</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>
                <input type="checkbox">
            </td>
          <td>
              1
          </td>
          <td>张三</td>
          <td>
            <img src="/static/img/redmi50.jpg" style="height: 100px">
          </td>
          <td>
            <a href="https://baike.baidu.com/item/%E5%BC%A0%E4%B8%89/76379" target="_blank">
                查看
            </a>
          </td>
            <td>
                <input type="button" value="编辑">
                <input type="submit" value="删除">
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
            </td>
          <td>
              2
          </td>
          <td>李四</td>
          <td>
            <img src="/static/img/redmi50.jpg" style="height: 100px">
          </td>
          <td>
            <a href="https://baike.baidu.com/item/%E6%9D%8E%E5%9B%9B/37113" target="_blank">
                查看
            </a>
          </td>
            <td>
                <input type="button" value="编辑">
                <input type="submit" value="删除">
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
            </td>
          <td>
              3
          </td>
          <td>王五</td>
          <td>
            <img src="/static/img/redmi50.jpg" style="height: 100px">
          </td>
          <td>
            <a href="https://baike.baidu.com/item/%E7%8E%8B%E6%AD%A3%E8%B0%8A/7887078?fromModule=lemma_search-box&fromtitle=%E7%8E%8B%E4%BA%94&fromid=7124045" target="_blank">
                查看
            </a>
          </td>
            <td>
                <input type="button" value="编辑">
                <input type="submit" value="删除">
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox">
            </td>
          <td>
              4
          </td>
          <td>六六</td>
          <td>
            <img src="/static/img/redmi50.jpg" style="height: 100px">
          </td>
          <td>
            <a href="https://baike.baidu.com/item/%E5%BC%A0%E4%B8%89/76379" target="_blank">
                查看
            </a>
          </td>
            <td>
                <input type="button" value="编辑">
                <input type="submit" value="删除">
            </td>
        </tr>
      </tbody>
    </table>

</body>
</html>